<div class="w-full h-full flex flex-col justify-start items-center">
  <%# navigation %>
  <div class="
  w-3/4 lg:w-96 mb-6
  ">
    <div class="flex">
      <a href="javascript:history.back()" class = "
      w-12 py-2 px-4
      text-white font-bold text-center
      bg-gray-700 hover:bg-gray-600
      rounded-lg
      cursor-pointer
      transition-all duration-200
      mr-4
      ">
        ←
      </a>
      <a href=<%= categories_path %> class = "
      py-2 px-4
      text-white font-bold text-center
      bg-gray-700 hover:bg-gray-600
      rounded-lg
      cursor-pointer
      transition-all duration-200
      ">
        All categories
      </a>
    </div>
  </div>
  
  <%# EDIT USER FORM %>
  <div class="
  flex flex-col
  w-3/4 lg:w-96
  bg-gray-700 px-8 py-8 rounded-lg shadow-2xl
  ">
    <%# header %>
    <h1 class="text-4xl mb-6">
      Edit User
    </h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="flex flex-col mb-4"> <%# removed field class %>
        <%= f.label :email, class: "
        text-xl font-semibold
        " %>
        <%= f.email_field :email, placeholder: "johndoe@email.com", autofocus: true, autocomplete: "email", class: "
        w-full px-4 py-2
        text-base text-black
        border border-gray-300 rounded-md
        focus:outline-none focus:border-gray-500
        " %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="flex flex-col mb-4"> <%# removed field class %>
        <%# changed :password to "New password" -- unsure if it will change performance %>
        <%= f.label "New password", class: "
        text-xl font-semibold
        " %>
        <p class="italic text-sm text-gray-400 mb-2">
          (leave blank if you don't want to change it)
        </p>

        <%# changed :password to "New password" -- unsure if it will change performance %>
        <%= f.password_field "New password", placeholder: "*********", autocomplete: "new-password", class: "
        w-full px-4 py-2 mb-1
        text-base text-black
        border border-gray-300 rounded-md
        focus:outline-none focus:border-gray-500
        " %>
        <% if @minimum_password_length %>
          <p class="italic text-sm text-gray-400">
            <%= @minimum_password_length %> characters minimum
          </p>
        <% end %>
      </div>

      <div class="flex flex-col mb-4"> <%# removed field class %>
        <%= f.label :password_confirmation, class: "
        text-xl font-semibold
        " %>
        <%= f.password_field :password_confirmation, placeholder: "*********", autocomplete: "new-password", class: "
        w-full px-4 py-2
        text-base text-black
        border border-gray-300 rounded-md
        focus:outline-none focus:border-gray-500
        " %>
      </div>

      <div class="flex flex-col mb-8"> <%# removed field class %>
        <%= f.label :current_password, class: "
        text-xl font-semibold
        " %>
        <p class="italic text-sm text-gray-400 mb-2">
          (we need your current password to confirm your changes)
        </p>
        <%= f.password_field :current_password, placeholder: "*********", autocomplete: "current-password", class: "
        w-full px-4 py-2
        text-base text-black
        border border-gray-300 rounded-md
        focus:outline-none focus:border-gray-500
        " %>
      </div>

      <%= f.submit "Update User", class: "
      flex items-center justify-center
      bg-green-700 hover:bg-green-800 text-white
      py-2 px-6 w-full
      text-lg
      rounded-lg
      cursor-pointer
      transition duration-200
      " %>
    <% end %>
  </div>

  <%# DELETE ACCOUNT FORM %>
  <div class="
  mt-8
  flex flex-col
  w-3/4 lg:w-96
  bg-gray-700 px-8 py-8 rounded-lg shadow-2xl
  ">
    <%# header %>
    <h1 class="text-4xl mb-6">
      Danger Zone
    </h1>

    <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "
    flex items-center justify-center
    bg-red-700 hover:bg-red-800 text-white
    py-2 px-6 w-full
    text-lg
    rounded-lg
    cursor-pointer
    transition duration-200
    " %>
  </div>
</div>