<%# TODO: update task.complete when pressed %>

<div class="
flex items-center justify-
h-14 px-4 mb-4
rounded-lg
bg-gray-700
shadow-md hover:shadow-xl
<%= "text-gray-500 line-through" if task.complete %>
transition duration
">
    <%# completion status %>
    <div class="
    flex items-center justify-start
    w-1/2 lg:w-1/4
    cursor-default
    ">
        <%= form_with class: "flex justify-center items-center", model: [ task.category, task ] do |f| %>
            <%= f.check_box :complete, class: "w-5 h-5 mr-3", onchange: "this.form.submit();" %>
        <% end %>

        <a href=<%= category_task_path(@category, task.id) %> class="
        hover:text-gray-300
        ">
            <%= task.name %>
        </a>
    </div>

    <%# due date %>
    <div class="
    hidden lg:flex justify-center items-center
    w-1/2
    cursor-default
    has-tooltip
    <%= task.date.nil? || task.complete ? "text-gray-500" : "text-yellow-200" %>
    ">
        <% if !task.date.nil? %>
            <i class="far fa-calendar text-xl mr-2"></i> <%= task.date.strftime("%B %d, %Y") %>
            <%= render 'shared/tooltip', msg: task.date.strftime("%B %d, %Y"), classes: "-mt-16" %>
        <% else %>
            <i class="far fa-calendar-times text-xl mr-2"></i> No date
        <% end %>
    </div>

    <%# navigation %>
    <div class="flex-grow flex justify-end">
        <a href=<%= category_task_path(@category, task.id) %> class="
        h-full mr-5 text-xl
        text-green-400 hover:text-green-500
        has-tooltip
        ">
            <i class="fas fa-expand-arrows-alt"></i>
            <%= render 'shared/tooltip', msg: "Expand"%>
        </a>
        <a href=<%= edit_category_task_path(@category, task.id) %> class="
        h-full mr-4 text-xl
        text-blue-400 hover:text-blue-500
        has-tooltip
        ">
            <i class="far fa-edit"></i>
            <%= render 'shared/tooltip', msg: "Edit" %>
        </a>
        <%# TODO: add tooltip for delete %>
        <%=
            link_to [task.category, task],
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "
                h-full text-xl
                text-red-400 hover:text-red-500
                has-tooltip
                " do
        %>
            <i class="far fa-trash-alt"></i>
            <%= render 'shared/tooltip', msg: "Delete" %>
        <% end %>
    </div>
</div>