<%# TODO: update task.complete when pressed %>
<%# TODO: sort by due date %>

<div class="
flex items-center justify-
h-14 px-4 mb-4
rounded-lg
bg-gray-700
shadow-md hover:shadow-xl
<%= "text-gray-500 line-through" if task.complete %>
transition duration
">
    <%# completion status %>
    <div class="flex items-center justify-center">
        <input type="checkbox" class="w-4 h-4 mr-3" <%= "checked" if task.complete %>>
    </div>

    <%# task name %>
    <div class="w-2/5 cursor-default">
        <%= task.name %>
    </div>

    <div class="w-1/3 lg:ml-10 hidden md:block cursor-default">
        <%= task.date.strftime("%B %d, %Y") %>
    </div>

    <%# navigation %>
    <div class="flex-grow flex justify-end">
        <a href=<%= category_task_path(@category, task.id) %> class="
        h-full mr-5 text-xl
        text-green-400 hover:text-green-500
        ">
            <i class="fas fa-expand-arrows-alt"></i>
        </a>
        <a href=<%= edit_category_task_path(@category, task.id) %> class="
        h-full mr-4 text-xl
        text-blue-400 hover:text-blue-500
        ">
            <i class="far fa-edit"></i>
        </a>
        <%=
            link_to raw("<i class\=\"far fa-trash-alt\"></i>"),
                [task.category, task],
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "
                h-full text-xl
                text-red-400 hover:text-red-500
                "
        %>
        
    </div>
</div>