<div class="
px-8 pt-6 pb-8
bg-white rounded-lg shadow-md
text-black
w-96
">
  <%# heading %>
  <h2 class="text-2xl font-semibold mb-4">Login</h2>

  <%# form %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="flex flex-col my-4"> <%# removed field class %>
      <%= f.label :email, class: "
      text-md text-gray-700 font-semibold mb-2
      " %>
      <%= f.email_field :email, placeholder: "johndoe@email.com", autofocus: true, autocomplete: "email", class: "
      appearance-none
      shadow border rounded-md
      py-2 px-3 leading-tight
      text-gray-700
      focus:shadow-outline
      " %>
    </div>

    <div class="flex flex-col my-4"> <%# removed field class %>
      <%= f.label :password, class: "
      text-md text-gray-700 font-semibold mb-2
      " %>
      <%= f.password_field :password, placeholder: "*********" , autocomplete: "current-password", class: "
      appearance-none
      shadow border rounded-md
      py-2 px-3 leading-tight
      text-gray-700
      focus:shadow-outline
      " %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="flex items-center my-4"> <%# removed field class %>
        <%# TODO: customize checkbox %>
        <%= f.check_box :remember_me, class: "
        h-4 w-4 mr-2
        border-gray-300 rounded-md
        cursor-pointer
        focus:ring-blue-400
        " %>
        <%= f.label :remember_me, class: "
        text-sm text-gray-700 font-semibold
        " %>
      </div>
    <% end %>

    <div class="">
      <%= f.submit "Log in", class: "
      text-white
      bg-green-600 hover:bg-green-700
      rounded-lg
      cursor-pointer
      transition-all duration-200
      font-bold py-2 px-4
      
      focus:outline-none
      focus:shadow-outline
      "%>
    </div>
  <% end %>

  <%# links %>
  <%#= render "devise/shared/links" %>
</div>

