<div class="w-80 xl:w-1/4">
    <div class="
    flex flex-col justify-between
    rounded-lg shadow-md hover:shadow-xl
    px-7 py-6 h-56 m-3
    bg-gray-700
    transition duration-200
    ">
        <h1 class="text-3xl truncate">
            <a href=<%= category_path(category) %>>
                <span class = "has-tooltip">
                    <%= category.title %>
                    <%= render 'shared/tooltip', msg: category.title %>
                </span>
            </a>
        </h1>
        
        <%# details %>
        <div class="text-sm">
            <p class="text-gray-300">
                <i class="fas fa-thumbtack text-sm mr-2"></i><%= category.tasks.length%> Tasks
            </p>
            <%# change to Updated X days/months ago %>
            <p class="text-gray-400">
                <i class="fas fa-sync text-sm mr-2"></i>Last Updated: <%= category.updated_at.strftime("%B %d, %Y") %>
            </p>
        </div>

        <%# options %>
        <div class="
        flex flex-row justify-center items-stretch
        text-center text-white text-xl
        bg-gray-600
        mt-6
        rounded-lg
        ">        
            <%= link_to category, class: "
            w-full px-4
            text-green-400 hover:text-white
            hover:bg-green-800
            cursor-pointer
            rounded-l-lg
            select-none
            transition duration-200
            " do %>
                <i class="fas fa-expand-arrows-alt"></i> 
                <%# Expand %>
            <% end  %>

            <%= link_to edit_category_path(category), class: "
            w-full px-4
            text-blue-400 hover:text-white
            hover:bg-blue-800
            cursor-pointer
            select-none
            transition duration-200
            " do %>
                <i class="far fa-edit"></i> 
                <%# Edit %>
            <% end  %>

            <%= link_to category, method: :delete, data: { confirm: 'Are you sure you want to delete this category?' }, class: "
            w-full px-4
            text-red-400 hover:text-white
            hover:bg-red-800
            cursor-pointer
            rounded-r-lg
            select-none
            transition duration-200
            " do %>
                <i class="far fa-trash-alt"></i> 
                <%# Delete %>
            <% end  %>
        </div>
    </div>
</div>