<div class="w-80 xl:w-1/4">
    <div class="
    flex flex-col justify-between
    rounded-lg shadow-md
    px-7 py-6 h-56 m-3
    bg-gray-700
    ">
        <h1 class="text-3xl">
            <a href=<%= category_path(category) %>><%= category.title %></a>
        </h1>
        
        <%# details %>
        <div class="text-gray-400">
            <p>N Tasks</p>
            <p>Last Updated: <%= category.updated_at.strftime("%B %d, %Y") %></p>
        </div>

        <%# options %>
        <div class="
        flex flex-row justify-center items-stretch
        text-center
        mt-6
        bg-green-700 text-white rounded-lg
        ">        
            <%= link_to 'Show', category, class: "
            w-full px-4
            hover:bg-green-800
            cursor-pointer
            rounded-l-lg
            select-none
            " %>
            <%= link_to 'Edit', edit_category_path(category), class: "
            w-full px-4
            hover:bg-green-800
            cursor-pointer
            select-none
            " %>
            <%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure you want to delete this category?' }, class: "
            w-full px-4
            hover:bg-green-800
            cursor-pointer
            rounded-r-lg
            select-none
            " %>
        </div>
        
    </div>
</div>