<div class="w-full h-full">
    <h1 class="text-4xl mb-6"><%= @category.title %> Tasks</h1>

    <% if false %>
        <ul>
            <li><%= link_to "Edit", edit_category_path(@category) %></li>
            <li>
                <%=
                    link_to "Destroy",
                    category_path(@category),
                    method: :delete,
                    data: { confirm: "Are you sure?" }
                %>
            </li>
        </ul>
    <% end %>

    <%= render @category.tasks %>
    <a href=<%= new_category_task_path(@category) %> class="
    flex items-center justify-center
    h-14 px-4 mb-4
    rounded-lg
    text-gray-400 hover:text-white
    bg-gray-700 hover:bg-gray-600
    shadow-md hover:shadow-xl
    transition duration
    ">
        <i class="fas fa-plus mr-3"></i> Add task
    </a>
</div>