<div class="w-full h-full">
    <h1 class="text-4xl mb-3"><%= @category.title %></h1>

    <% if false %>
        <ul>
            <li><%= link_to "Edit", edit_category_path(@category) %></li>
            <li>
                <%=
                    link_to "Destroy",
                    category_path(@category),
                    method: :delete,
                    data: { confirm: "Are you sure?" }
                %>
            </li>
        </ul>
    <% end %>

    <%= render @category.tasks %>
    <%= link_to "Add task", new_category_task_path(@category) %>
</div>