<!DOCTYPE html>
<html>
  <head>
    <title>JournalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="
  flex flex-col
  bg-gray-800 text-white h-screen
  ">
    <header class="">
      <%# navbar %>
      <div class="
      flex justify-between items-center
      h-16 px-16
      bg-green-800 
      text-xl text-white
      ">
        <%# left nav-items %>
        <ul class="flex items-center h-full">
          <%# logo %>
          <li class="cursor-pointer select-none mr-6">
            <a href="/" class="text-3xl">CanDo</a>
          </li>
          <li class="h-full flex items-center justify-center">
            <a href="/" class="
            flex items-center justify-center
            h-full px-4 
            hover:bg-green-700 transition-all duration-200
            ">
              Home
            </a>
          </li>
          <li class="h-full flex items-center justify-center">
            <a href=<%= categories_path %> class="
            flex items-center justify-center
            h-full px-4 
            hover:bg-green-700 transition-all duration-200
            ">
              Categories
            </a>
          </li>
          <li class="h-full flex items-center justify-center">
            <a href=<%= custom_tasks_list_path %> class="
            flex items-center justify-center
            h-full px-4 
            hover:bg-green-700 transition-all duration-200
            ">
              Tasks
            </a>
          </li>
        </ul>

        <%# right nav-items %>
        <ul class="flex items-center h-full">
          <% if user_signed_in? %>
            <li class="h-full flex items-center justify-center">
              <div class= "px-4 py-5 h-full">
                Welcome, <%= current_user.email %>!
              </div>
            </li>
            <li class="h-full flex items-center justify-center">
              <a href=<%= edit_user_registration_path%> class="
              flex items-center justify-center
              h-full px-4 
              hover:bg-green-700 transition-all duration-200
              ">
                <i class="fas fa-user-edit mr-2"></i> Edit profile
              </a>
            </li>
            <li class="h-full flex items-center justify-center">
              <%=
                link_to raw("<i class=\"fas fa-sign-out-alt mr-2\"></i>Logout"),
                destroy_user_session_path,
                method: :delete,
                class: "
                flex items-center justify-center
                h-full px-4 
                hover:bg-red-800 transition-all duration-200
                "
              %>
            </li>
          <% else %>
            <li class="h-full flex items-center justify-center">
              <%=
                link_to raw("<i class=\"fas fa-user-plus mr-3\"></i> Sign up"),
                new_user_registration_path,
                class: "
                flex items-center justify-center
                h-full px-4 
                hover:bg-green-700 transition-all duration-200
                "
              %>
            </li>
            <li class="h-full flex items-center justify-center">
              <%=
                link_to raw("<i class=\"fas fa-sign-in-alt mr-3\"></i> Login"),
                new_user_session_path,
                class: "
                flex items-center justify-center
                h-full px-4 
                hover:bg-green-700 transition-all duration-200
                "
              %>
            </li>
          <% end %>
        </ul>
      </div>
    </header>
    
    <main class="
    flex flex-col
    flex-grow
    px-16 py-8
    ">
      <%# notice %>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%# render page %>
      <%= yield %>
    </main>
  </body>
</html>
